<robot name="AV24">
  <!-- Rear axle center point -->
  <!-- <link name="base_link" /> -->
  <link name="rear_axle_middle" />
  <link name="front_axle_middle" />
  <link name="rear_axle_middle_ground" />
  <link name="center_of_gravity" />

  <!--The base link is the center point of the rear axle-->
  <link name="base_link">
    <visual>
      <!-- <origin xyz="1.73 0.0 -0.31"/> -->
      <origin xyz="1.73 0.0 -0.31"/>
      <geometry>
        <mesh filename="package://av21_description/models/av21.dae"/>
      </geometry>
    </visual>
  </link>
    

  <!-- <link name="novatel_a" />
  <link name="novatel_b" />
  <link name="vn_310" /> -->
  <!-- <link name="top_antenna" />
  <link name="front_antenna" />
  <link name="right_antenna" />
  <link name="left_antenna" /> -->

  <link name="gps_top" />
  <link name="gps_top_ant1" />
  <!--IMU navigation origin of this unit -->
  <link name="gps_top_imu" />
  <!--GPS bottom unit (connected to right(1)/left(2) antenna set). This frame uses front/left/up orientation.-->
  <link name="gps_bottom" />
  <link name="gps_bottom_ant1" />
  <!--IMU navigation origin of this unit -->
  <link name="gps_bottom_imu" />
  <!--GPS third (top/front) VectorNav spare unit.-->
  <link name="gps_spare" />
  <!--IMU navigation origin of this unit -->
  <link name="gps_spare_imu" />

  <link name="luminar_front" />
  <link name="luminar_left" />
  <link name="luminar_right" />
  <!-- <link name="luminar_rear" /> -->
  <link name="radar_front" />
  <link name="radar_rear" />
  <link name="camera_front_stereo_right" />
  <link name="camera_front_stereo_left" />
  <link name="camera_front_right" />
  <link name="camera_front_left" />
  <link name="camera_rear_roll_hoop" />
  <link name="camera_front_roll_hoop" />

  <joint name="base_link_to_rear_axle_middle" type="fixed">
    <parent link="base_link"/>
    <child link="rear_axle_middle" />
    <!--The same frame-->
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>


  <joint name="rear_axle_middle_to_front_axle_middle" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="front_axle_middle" />
    <origin xyz="2.9718 0.0 -0.0055" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="rear_axle_middle_proj_to_ground" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="rear_axle_middle_ground" />
    <origin xyz="0.0 0.0 -0.306" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="rear_axle_middle_to_cog" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="center_of_gravity" />
    <origin xyz="1.248156 0.0 -0.025" rpy="0.0 0.0 0.0"/>
  </joint>

  <!--GPS: -->
  <joint name="rear_axle_ground_to_gps_top" type="fixed">
    <!-- TOP/BOTTOM are codenames only that represents the antenna pair they are connected to -->
    <parent link="rear_axle_middle"/>
    <child link="gps_top" />
    <origin xyz="1.636 -0.075 -0.101" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="gps_top_to_imu_top" type="fixed">
    <parent link="gps_top"/>
    <child link="gps_top_imu" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -1.5707963267949" />
  </joint>

  <joint name="rear_axle_ground_to_gps_top_ant1" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="gps_top_ant1" />
    <origin xyz="3.176 0 0.372" rpy="0.0 0.0 0.0" /><!--main is the top antenna-->
  </joint> 
  
  <joint name="rear_axle_ground_to_gps_bottom" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="gps_bottom" />
    <origin xyz="1.636 0.075 -0.101" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="gps_bottom_to_imu_bottom" type="fixed">
    <parent link="gps_bottom"/>
    <child link="gps_bottom_imu" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -1.5707963267949" />
  </joint>

  <joint name="rear_axle_ground_to_gps_bottom_ant1" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="gps_bottom_ant1" />
    <origin xyz="2.055 -0.497 0.353" rpy="0.0 0.0 0.0" /><!--main is the right antenna-->
  </joint>

  <joint name="rear_axle_ground_to_gps_spare" type="fixed">
    <parent link="rear_axle_middle"/>
    <child link="gps_spare" />
    <origin xyz="1.754 0.0 -0.118" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="gps_spare_to_imu_spare" type="fixed">
    <parent link="gps_spare"/>
    <child link="gps_spare_imu" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>



  <joint name="rear_axle_ground_to_luminar_front" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="luminar_front" />
    <origin xyz="2.222 0.005 0.448" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="rear_axle_ground_to_luminar_left" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="luminar_left" />
    <origin xyz="1.564 0.149 0.535" rpy="0 0 1.96349375" />
  </joint>

  <joint name="rear_axle_ground_to_luminar_right" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="luminar_right" />
    <origin xyz="1.564 -0.153 0.535" rpy="0 0 -1.96349375" />
  </joint>



  <joint name="rear_axle_ground_to_camera_front_left" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="camera_front_left" />
    <origin xyz="2.020 0.172 0.418" rpy="0 0 1.745327778" />
  </joint>

  <joint name="rear_axle_ground_to_camera_front_right" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="camera_front_right" />
    <origin xyz="2.020 -0.172 0.418" rpy="0 0 -1.745327778" />
  </joint>

  <joint name="rear_axle_ground_to_camera_rear_roll_hoop" type="fixed"> <!--New camera-->
    <parent link="rear_axle_middle" />
    <child link="camera_rear_roll_hoop" />
    <origin xyz="1.215 0.0 0.723" rpy="0 0 3.14159" />
  </joint>

  <joint name="rear_axle_ground_to_camera_front_roll_hoop" type="fixed"> <!--New camera-->
    <parent link="rear_axle_middle" />
    <child link="camera_front_roll_hoop" />
    <origin xyz="1.365 0.0 0.723" rpy="0 0 0" />
  </joint>

  <joint name="rear_axle_ground_to_camera_stereo_left" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="camera_front_stereo_left" />
    <origin xyz="2.232 0.180 0.442" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="rear_axle_ground_to_camera_stereo_right" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="camera_front_stereo_right" />
    <origin xyz="2.232 -0.180 0.442" rpy="0.0 0.0 0.0" />
  </joint>

  <!--RADARS: -->

  <joint name="rear_axle_ground_to_radar_front" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="radar_front" />
    <origin xyz="1.789 0.0 0.578" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="rear_axle_ground_to_radar_rear" type="fixed">
    <parent link="rear_axle_middle" />
    <child link="radar_rear" />
    <origin xyz="-0.752 0.0 0.107" rpy="0.0 0.0 3.14159"/>
  </joint>



</robot>